<a href="https://colab.research.google.com/github/blahbul/DSA/blob/main/pyth_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Amstrong Number
n=int(input("Enter a number: "))
count=0
a=n
s=0
b=n
while a!=0:
    d=a%10
    a=a//10
    count+=1
while n:
  d=n%10
  n=n//10
  s+=(d**count)
if s==b:
  print("Armstrong number")
else:
  print("Not an armstrong number")

Enter a number: 153
Armstrong number

In [ ]:
#Sum of 5 digit number
n=int(input("Enter a five digit number: "))
sum=0
while n:
  d=n%10
  sum+=d
  n=n//10
print(sum)

Enter a five digit number: 12345
15

In [ ]:
#Codeforces 791- Bear and Big Brother
a=int(input("Enter Lim's weight:"))
b=int(input("Enter Bob's weight:"))
i=0
while a<=b:
  a*=3
  b*=2
  i+=1
print(i)

Enter Lim's weight:4
Enter Bob's weight:9
3

In [ ]:
#Codeforces 977 A Wrong Subtraction
n=int(input())
k=int(input())
for _ in range(1,k+1):
  if n%10==0:
    n//=10
  else:
    n-=1
print(n)

512
4
50

In [ ]:
#List input
l=input("Enter ").split()
print(l)

Enter 10 20 30 40
['10', '20', '30', '40']

In [ ]:
#List input
l=list(map(int,input().split()))
print(l)

10 30 30
[10, 30, 30]

In [ ]:
#List input
l=[]
n=int(input())
for i in range(n):
  l.append(int(input()))
print(l)

5
10
20
30
40
50
[10, 20, 30, 40, 50]

In [ ]:
#List operations
l=[1,2,3,4,5]
for i in range(1,4):
  l[i-2]=l[i]
for i in range(0,4):
  print(l[i],end=" ")

3 4 3 4

In [ ]:
#List
l=[1,2,3]
l1=l
l[0]=4
print(l1)

[4, 2, 3]

In [26]:
#List Methods
l=[1,2,3]
l.append([10,20])
l.extend([10,20])
l.insert(2,'bro')
print(l)

[1, 2, 'bro', 3, [10, 20], 10, 20]

In [ ]:
#List Methods
l=[13,20,'l',"yo",45,78,59,54,48,49]
l.remove(54)
print(l)
l.pop()
l.pop(3)
print(l)
l.clear()
print(l)

[13, 20, 'l', 'yo', 45, 78, 59, 48, 49]
[13, 20, 'l', 45, 78, 59, 48]
[]

In [ ]:
#List Methods
l=[2,1,4,3,5,7]
l.sort(reverse=True)
print(l)

[7, 5, 4, 3, 2, 1]

In [ ]:
#List Slicing
l=[2,3,4,5]
print(l[-3:-1])
print(l[::-1])

[3, 4]
[5, 4, 3, 2]

In [ ]:
#List Methods
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=a+b
c.sort()
print(c)

10 20 30
1 2 3 4
[1, 2, 3, 4, 10, 20, 30]

In [ ]:
#List Swapping of elements
a=list(map(int,input().split()))
a[0],a[-1]=a[-1],a[0]
print(a)

10 20 30
[30, 20, 10]

In [ ]:
#Sum of even elements in odd index
l=list(map(int,input().split()))
sum=0
for i in range(len(l)):
  if i%2!=0 and l[i]%2==0:
    sum+=l[i]
print(sum)

1 2 3 4 5 7 6
6

In [ ]:
#Occurence of an element
l=list(map(int,input().split()))
res=[]
for i in l:
  if i not in res:
    res.append(i)
print(res)

2 2 3 1 3 1 3 1 2
[2, 3, 1]

In [ ]:
#Element which is not repeated
l=list(map(int,input().split()))
res=[]
for i in l:
  c=l.count(i)
  if c%2!=0 and i not in res:
    res.append(i)
print(res)

4 4 4 1 1 2 4
[2]

In [ ]:
#Arrange even elements in descending order and odd elements in ascending order
l=list(map(int,input().split()))
res=[]
l.sort()
for i in l:
  if i%2!=0:
    res.append(i)
  else:
    res.insert(0,i)
print(res)

1 5 3 4 2 6
[6, 4, 2, 1, 3, 5]

In [ ]:
#Arrange even elements in descending order and odd elements in ascending order
l=list(map(int,input().split()))
a=[]
b=[]
for i in l:
  if i%2==0:
    a.append(i)
    a.sort(reverse=True)
  else:
    b.append(i)
    b.sort()
print(a+b)

1 5 3 2 4 6
[6, 4, 2, 1, 3, 5]

In [ ]:
#Check if elements of the list are consecutive
l=list(map(int,input().split()))
flag=1
for i in range(len(l)-1):
  if l[i+1]==l[i]+1:
    flag+=1
if flag==len(l):
  print("True")
else:
  print("False")

1 2 3  4
True

In [ ]:
#codeforces 427a
n=int(input())
l=list(map(int,input().split()))
p=0
c=0
for i in l:
    if i==-1:
      if p==0:
        c+=1
      elif p>0:
        p-=1
    if i>0:
      p+=i
print(c)

8
1 -1 1 -1 -1 1 1 1
1

In [ ]:
#Most frequent Element
l=list(map(int,input().split()))
n,count=0,0
for i in l:
  if i>n:
    n=i
    count+=1
print(count)

3 4 3 3 5  4
3

In [ ]:
#brute force 2nd largest number
l=list(map(int,input().split()))
n,m=0,0
for i in l:
  if i>n :
      n=i
for i in l:
  if i>m and i!=n :
      m=i
print(m)

3 5 2 6 1
5

In [ ]:
#further optimizing
l=list(map(int,input().split()))
n,m=0,0
for i in l:
  if i>n :
    m=n
    n=i
  elif i>m and i!=n:
    m=i
print(m)

3 5 2 6 1
5

In [ ]:
#bit manupilation

In [ ]:
#brute force
#1^2^3^4....
n=int(input())
x=0
for i in range(1,n+1):
  x=x^i
print(x)

5
1

In [ ]:
#optimal
n=int(input())
if n%4==1:
  print(1)
if n%4==2:
  print(n+1)
if n%4==3:
  print(0)
if n%4==4:
  print(n)

6
7

In [ ]:
#from the give range of number
#l=3 and r=6
#3^4^5^6..
def XOR(n):
  if n%4==1:
    return 1
  if n%4==2:
    return n+1
  if n%4==3:
    return 0
  if n%4==4:
    return n
l=int(input())
r=int(input())
print(XOR(l-1)^XOR(r))

3
6
4

In [ ]:
#no. of 1's in binary
n=int(input())
count=0
while n:
  n=(n&(n-1))
  count+=1
print(count)

21
3

In [ ]:
#prime number using functions
def prime(n):
  flag=0
  for i in range(2,n):
    if n%i==0:
      flag=1
      break
  return flag

n=list(map(int,input().split()))
for i in n:
  f=prime(i)
  if f==0 and i!=1:
    print(i)

2 1 5 4 6 8 9 7
2
5
7

In [ ]:
l=[10,11,22,31]
res=[]
for i in l:
  a=str(i)
  for c in a:
    if c!="0" and i%int(c)==0:
        res.append(i)
print(res)

[10, 11, 11, 22, 22, 31]

In [ ]:
#cf 1560 A: dislike of three
n=int(input())
for _ in range(n):
  t=int(input())
  i,count=1,0
  while 1:
    if i%3!=0 and i%10!=3:
      count+=1
      if count==t:
        print(i)
        break
    i+=1

10
1
1
2
2
3
4
4
5
5
7
6
8
7
10
8
11
1000
1666
500
832

In [ ]:
#Dictionary
d={}
n=int(input())
for _ in range(n):
  key=int(input())
  value=int(input())
  d[key]=value
print(d)

2
1
21
2
56
{1: 21, 2: 56}

In [ ]:
#Dictionary
d={1:23,2:234}
print(d[1])
print(d.get(2))
for i in d:
  print(i,":",d[i])

23
234
1 : 23
2 : 234

In [ ]:
#Dicctionary
d={1:2,2:3}
d1=d
d.update({1:23})
print(d1)

{1: 23, 2: 3}

In [ ]:
#Dictionary
d={1:2,2:3}
d.popitem()
print(d)

{1: 2}

In [ ]:
#Dictionary: Find a element in dictionary
d={}
n=int(input())
for i in range(n):
  i=int(input())
  j=int(input())
  d[i]=j
key=int(input())
if key in d:
  print("True")
else:
  print("False")

2
1
2
2
3
2
True

In [ ]:
#Square of n numbers in dictionary
d={}
n=int(input())
for i in range(1,n+1):
  d[i]=i*i
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Join two lists in order
l1=[1,3,4,5,7,8,9]
l2=[2,6]
i,j=0,0
res=[]
while i<len(l1) and j < len(l2):
  if l1[i]<l2[j]:
    res.append(l1[i])
    i+=1
  else:
    res.append(l2[j])
    j+=1
while i<len(l1):
  res.append(l1[i])
  i+=1
while j<len(l2):
  res.append(l2[j])
  j+=1
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Combination of 2 digit numbers in a list
l=[1,6,9,5]
for i in range(len(l)):
  for j in range (i+1,len(l)):
    print(l[i],l[j])

1 6
1 9
1 5
6 9
6 5
9 5

In [ ]:
#Highest possible two digit sum in the list
l=[1,6,9,5]
m=0
for i in range(len(l)):
  for j in range (i+1,len(l)):
    s=l[i]+l[j]
    m=max(m,s)
print(m)

15

In [ ]:
n=int(input())
v=list(map(int,input().split()))
a=list(map(int,input().split()))
c=[0]*max(v)
for i in range (n):
  if a[i]>17:
     c[v[i]-1]+=1
print(c)
if c.count(max(c))>1:
  print(-1)
else:
  print(c.index(max(c))+1)

5
1 2 3 2 1
25 16 23 29 89
[2, 1, 1]
1

In [ ]:
l=list(map(int,input().split()))
flag=0
for i in range(len(l)-1):
  if l[i]<l[i+1]:
    flag+=1
  else:
    flag-=1
if flag==len(l)-1:
  print("Sorted")
else:
  print("Not sorted")

1 1 2 3
Not sorted

In [ ]:
#sliding window concept-brute force
k=int(input())
l=list(map(int,input().split()))
max=0
a=[]
for i in range(len(l)-k+1):
  s=0
  b=[]
  for j in range(i,i+k):
    s+=l[j]
    b.append(l[j])
  if max<s:
    max=s
    a=b
print(a)
print(max)

4
2 3 4 1  2 6  7 3 5 1 6 3 2 4
[6, 7, 3, 5]
21

In [ ]:
#Subarray
k=int(input())
l=list(map(int,input().split()))
s=sum(l[:k])
m=s
for i in range(1,len(l)-k+1):
  s=s-l[i-1]+l[i+k-1]
  if m<s:
    m=s
print(m)

4
3 2 1 5 6 3 2 5 6 7 3 5
21

In [ ]:
arr=[2,4,5,6,3,2,4,2,1,8,7,9]
k=13
l,r,s,m=0,0,0,0
m1,m2=0,0
while r<len(arr):
  s+=arr[r]
  while s>k:
    s-=arr[l]
    l+=1
  if m<(r-l+1):
    m=r-l+1
    m1,m2=l,r
  r+=1
print(m)
print(arr[m1:m2])

5
[3, 2, 4, 2]

In [ ]:
d={}
l=list(map(int,input().split()))
m=0
e1=0
m1=0
e2=0
for i in l:
  if i not in d:
    d[i]=1
  else:
    d[i]+=1
for i in d:
  if m<d[i]  :
   m1=m
   e2=e1
   m=d[i]
   e1=i
  elif d[i]>m1 and d[i]!=m:
    m1=d[i]
    e2=i
print(d)
print(e2)

1 2 2 3  5 2 3 8
{1: 1, 2: 3, 3: 2, 5: 1, 8: 1}
3

In [ ]:
l=list(map(int,input().split()))
k=int(input())
for i in range(len(l)):
  if l[i]==k:
    print(i)
    break
else:
  print("False")

1 2 3 4 5 6 78 9
7
False

In [ ]:
l=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
k=2
f=0
for i in range(len(l)):
  for j in range(len(l[0])):
    if l[i][j]==k:
      print(i,j)
      f=1
      break
if f==0:
    print(False)

0 1

In [ ]:
a=[1,2,3,4,5,6,7]
k=5
l,r=0,len(a)-1
while l<=r:
  m=(l+r)//2
  if a[m]==k:
    print("Ele Found")
    break
  elif a[m]<k:
    l=m+1
  else:
    r=m-1
else:
  print(False)

Ele Found

In [ ]:
s="baaad"
l=[]
for c in s:
  if len(l)==0 or l[-1]!=c:
      l.append(c)
  else:
      l.pop()
print("".join(l))

bad

In [ ]:
l=[]
n=len(l)
x=3
arr=[]
for i in range(n):
  arr.extend([i+1]*l[i])
l,r=0,0
for i in range(len(arr)):
  if arr[i]==x:
    l=i
    break
for i in range(len(arr)-1,-1,-1):
  if arr[i]==x:
    r=i
    break
print(r-l+1)

1

In [ ]:
s="abc**d*f"
l=[]
for c in s:
    if c!="*":
        l.append(c)
    else:
        l.pop()
print("".join(l))

af

In [ ]:
l=[1,0]
print(l.pop(0))

1

In [ ]:
#prime number- sieve of eratosthenes
n=int(input())
prime=[True]*(n+1)
prime[0]=False
prime[1]=False
p=2
while p*p<=n:
  if prime[p]:
    for i in range(p*p,n+1,p):
      prime[i]=False
  p+=1
for i in range(len(prime)):
  if prime[i]:
    print(i,end=" ")

10
2 3 5 7

In [ ]:
#recursion
def fun(a):
  if a==0:
    return 0
  print(a)
  fun(a-1)
n=int(input())
fun(n)

5
5
4
3
2
1

In [ ]:
def fun(n):
  if n==0:
    return
  fun(n-1)
  print(n)
n=int(input())
fun(n)

5
1
2
3
4
5

In [ ]:
def fun(n):
  if n==0:
    return 200
  a=fun(n-1)
  print(n)
  return a
n=int(input())
fun(n)

5
1
2
3
4
5

200

In [ ]:
def fun(n):
  if n==2:
    print(2)
    return
  print(n)
  fun(n-2)
  print(n)
n=int(input())
fun(n)

10
10
8
6
4
2
4
6
8
10

In [ ]:
def fun(n,a=0):
  if n==a:
    return
  print(a+1,end=" ")
  fun(n,a+1)
  if n!=a+1:
    print(a+1,end=" ")

n=int(input())
fun(n)

5
1 2 3 4 5 4 3 2 1

In [ ]:
n=int(input())
for  i in range(1,n+1):
  print(i)
for i in range(n-1,0,-1):
  print(i)

5
1
2
3
4
5
4
3
2
1

In [ ]:
def fun(n):
  if n==1:
    return 0
  elif n%2==0:
    return 1+fun(n//2)
  else:
    return 1+min(fun(n+1),fun(n-1))
n=int(input())
print(fun(n))

15
5

In [ ]:
def fun(n,i=1):
  if i*i==n:
    return True
  if i*i>n:
    return False
  return fun(n,i+1)

n=int(input())
fun(n)

25

True

In [ ]:
def fire(matrix,i,j):
  if i<0 or j<0 or i>=len(matrix) or j>=len(matrix[0]) or matrix[i][j]==0:
    return
  matrix[i][j]=0
  fire(matrix,i-1,j)
  fire(matrix,i+1,j)
  fire(matrix,i,j+1)
  fire(matrix,i,j-1)
matrix=[[1,1,0,0],
        [1,1,0,1],
        [1,0,0,1],
        [1,0,1,0]]
fire(matrix,1,3)
count=0
for i in range(len(matrix)):
  for j in range(len(matrix[0])):
    if matrix[i][j]==1:
      count+=1
print(count)

7

In [ ]:
def path(grid,i,j,p,n):
  if i==n-1 and j==n-1:
    print(p)
    return
  if i+1<n and grid[i][j]==1:
    path(grid,i+1,j,p+"D",n)
  if j+1<n and  grid[i][j]==1:
    path(grid,i,j+1,p+"R",n)
matrix=[[1,0,0],
        [1,1,0],
        [1,1,1]]
path(matrix,0,0,"",len(matrix))

DDRR
DRDR

In [10]:
s="dabbac"
m=0
for i in range(len(s)):
    r,l=i,i
    while l>=0 and r<len(s) and s[l]==s[r]:
        m=max(m,r-l+1)
        r+=1
        l-=1
    r,l=i+1,i
    while l>=0 and r<len(s) and s[l]==s[r]:
        m=max(m,r-l+1)
        r+=1
        l-=1
print(m)

4

In [20]:
def fib(n,dp):
  if n<=1:
    return n
  if dp[n]!=-1:
    return dp[n]
  dp[n]=fib(n-1,dp)+fib(n-2,dp)
  return dp[n]
n=int(input())
dp=[-1]*(n+1)
print(fib(n,dp))

6
8

In [21]:
n=int(input())
dp=[-1]*(n+1)
dp[0],dp[1]=0,1
for i in range(2,n+1):
  dp[i]=dp[i-1]+dp[i-2]
print(dp[n])

7
13

In [22]:
#no memoization
def frog_jump(n,energy):
  if n==0:
    return 0
  jump1=frog_jump(n-1,energy)+abs(energy[n]-energy[n-1])
  jump2=float('inf')
  if n>1:
    jump2=frog_jump(n-2,energy)+abs(energy[n]-energy[n-2])
  return min(jump1,jump2)
energy=[30,10,60,10,60,50]
n=len(energy)-1
print(frog_jump(n,energy))

40

In [24]:
#memoization
def frog_jump(n,energy):
  if n==0:
    return 0
  if dp[n]!=-1:
    return dp[n]
  jump1=frog_jump(n-1,energy)+abs(energy[n]-energy[n-1])
  jump2=float('inf')
  if n>1:
    jump2=frog_jump(n-2,energy)+abs(energy[n]-energy[n-2])
  dp[n]=min(jump1,jump2)
  return dp[n]
energy=[30,10,60,10,60,50]
n=len(energy)-1
dp=[-1]*(n+1)
print(frog_jump(n,energy))

40

In [25]:
#tabulation
energy=[30,10,60,10,60,50]
n=len(energy)-1
dp=[-1]*n
dp[0]=0
for i in range(1,n):
  jump1=dp[i-1]+abs(energy[i]-energy[i-1])
  jump2=float('inf')
  if i>1:
    jump2=dp[i-2]+abs(energy[i]-energy[i-2])
  dp[i]=min(jump1,jump2)
print(dp[n-1])

30